* {
   box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position: relative;
}

.main-section {
    text-align: center;
    /*color: #fff;*/

    background: -webkit-linear-gradient(bottom, #22099F, #EB1BB3);
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
}

header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 20px; 

}
label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
  text-align: left;
}

#login-box,
#reg-box{
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}

#title-log {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup, #daftar {
  background: -webkit-linear-gradient(right, #22099F, #EB1BB3);
  border: none;
  border-radius: 21px;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}

#login-box form,
#reg-box form {
    padding: 20px 30px 20px 30px;
}
.form-border {
  background: -webkit-linear-gradient(right, #22099F, #EB1BB3);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: 3px;
  outline: none;
  padding-top: 14px;
}

#login-box.hide {
    display: none;
}

/*#reg-box {*/
/*    display: inline-block;*/
/*    height: 60vh;*/
/*    width: 30vw;*/
/*    background-color: green;*/
/*}*/

#reg-box.hide {
    display: none;
}

.navbar {
    padding: 10px 100px;
}

.container{
    padding-top:40px;
}


footer {
    text-align: center;
    color: #fff;
    /*background: linear-gradient(90deg, rgba(57,73,171,1) 0%, rgba(236,64,122,1) 35%, rgba(255,193,7,1) 100%);
    position: absolute;*/
    bottom: 0;
    padding: 20px;
    width: 100%;
}